.bestseller-main-div{
    margin-top: 100px;
    display: flex;
    border: 1px solid lightgrey;
    
}
.mySwiper-bestseller{
    width: 50%;
    height: 750px;
    position: relative;
}

.bestseller-slider{
    position: relative;
    }
.bestseller-slider img{
    width: 100%;
}

.bestseller-info-div{
    position: absolute;
    z-index: 9999;
    bottom: 100px;
    text-align: center;
    }
.bestseller-info-div p{
    font-size: 30px;
    margin: 20px 0;
    color: black;
}

.bestseller-info-div h2{
    font-size: 85px;
    letter-spacing: 4px;
    color: white;
  }

.bestseller-info-div button{
  margin-top: 30px;
background-color:transparent;
color: black;
padding:10px 40px;
border-radius: 8px;
border: 1px solid black;
font-weight: bold;
transition: 0.5s;
}
.bestseller-info-div button:hover{
  cursor: pointer;
background-color: black;
color: white;
}

.bestseller-main-product-div{
    width: 50%;
     height: 750px;
    overflow-y: auto;
}
.bestseller-main-product-div::-webkit-scrollbar {
  width: 8px;
}

.bestseller-inner-product-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bestseller-product-div{
    width: 40%;
   box-shadow: 0 0 20px 0 lightgray;
   text-align: center;
   margin: 1%;
   border-radius: 8px;
   padding: 10px;
   position: relative;
}
.bestseller-product-div:hover{
    cursor: pointer;
     box-shadow: 0 0 20px 0 gray;
}
.bestseller-product-div img{
    width: 50%;
}
.bestseller-product-div span{
   position: absolute;
   background-color: rgb(150, 100, 134);
   color: white;
   top: 10px;
   right: 10px;
   border-radius: 8px;
   padding: 5px;
}
.bestseller-product-div button{
    border: 1px solid black;
    background-color: transparent;
    padding: 8px 20px;
    margin: 10px;
    border-radius: 8px;
    transition: 0.5s;
}
.bestseller-product-div button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    }

.bestseller-product-div h2{
   margin: 8px;
   font-size: 20px;
   letter-spacing: 3px;
}
.bestseller-product-div p{
color: gray;
}




  @media only screen and (min-width: 768px) and (max-width: 1248px) {
  .mySwiper-bestseller{
    width: 55%;
    height: 600px;
  }
.bestseller-info-div p{
    font-size: 25px;
   }

.bestseller-info-div h2{
    font-size: 75px;
}
.bestseller-main-product-div{
  height: 600px;
}
.bestseller-product-div img{
    width: 50%;
}
.bestseller-product-div span{
   right: 5px;
   padding: 4px;
}
.bestseller-product-div button{
    font-size: 11px;
}

}

@media only screen and (max-width: 767px) {
    .bestseller-main-div{
    margin-top: 100px;
    display: block;
    border: 1px solid lightgrey;
    
}
 .mySwiper-bestseller{
    width: 100%;
    height: 500px;
}
.bestseller-info-div{
    left: 25px;
}
.bestseller-info-div p{
    font-size: 25px;
  }

.bestseller-info-div h2{
    font-size: 50px;
  }
.bestseller-main-product-div{
    width: 100%;
     height: 500px;
   }

.bestseller-inner-product-div{
  margin-top: 20px;
}
.bestseller-product-div span{
   right: 5px;
   padding: 4px;
}
.bestseller-product-div button{
   font-size: 12px;
}
}
