.first-header-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 60px;
}
.search-div {
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
}

.search-input {
  border-radius: 10px;
  outline: none;
  padding: 7px;
  width: 70%;
  border: none;
}

.search-icon {
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translateX(-50%);
  z-index: 999;
  color: black;
  font-size: 22px;
}
.search-icon:hover {
  cursor: pointer;
}

.header-img-div {
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
  margin-left: 15px;
}

.header-icon {
  font-size: 33px;
  color: white;
  margin-left: 20px;
}
.nav-icon-div {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-icon-div p {
  margin-left: 5px;
}

.nav-icon-div:hover {
  cursor: pointer;
  color: gray;
}
.header-img-div a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.second-header {
  width: 70%;
  margin: 20px auto;
}
.logo-div {
  width: 18%;
  margin: 0 auto;
}

.logo-div img {
  width: 100%;
}
.header-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  font-size: 23px;
}
.header-btn li {
  list-style-type: none;
}
.header-btn li:hover {
  color: grey;
  cursor: pointer;
}

.fav-badge {
  position: absolute;
  background-color: white;
  color: black;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -7px;
  right: 20px;
}

.burger-menu {
  display: none;
  cursor: pointer;
}
.icon-menu {
  font-size: 33px;
  margin: 8px 15px 0px 15px;
}

.menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 0px;
  height: 100%;
  width: 250px;
  background-color: white;
  animation: slideIn 1s ease-in-out forwards;
  overflow: hidden;
  z-index: 9999;
}
.menu-li {
  color: black;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  border: 1px solid lightgrey;
  margin: 5%;
  padding: 7px 20px;
  border-radius: 8px;
  transition: 0.5s;
}
.menu-li:hover {
  cursor: pointer;
  background-color: lightgrey;
}
.support-li{
  display: flex;
  align-items: end;
  position: relative;
  width: 14%;
  justify-content: space-around;
 
 }
.ul-support{
  position: absolute;
  background-color: white;
  z-index: 1000;
  width: 100%;
  top: 28px;
 box-shadow: 0 0 20px rgba(0,0,0,.1);
padding: 0 5px;
}
.ul-support li{
 list-style-type: none;
 font-size: 15px;
 text-align: start;
 margin: 15px 0;
 color: black;
}


@keyframes slideIn {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1248px) {

.ul-support li{
font-size: 12px !important;
}

}
