.swiper-div-home{
  width: 100%;
  background-color: rgba(225, 204, 204, 0.168);
  height: 600px;
  margin-top: 80px;
  display: flex;
  align-items: center;
 }
.mySwiper-2{
 width:40%;
 height: 500px;
 margin-left: 100px;
}
.swiper-info-div{
width: 40%;
margin-right: 100px;
color: black;
 text-align: center;
}
.swiper-info-div h2{
font-size: 38px;
letter-spacing: 4px;
margin-bottom: 50px;

}
.swiper-info-div p{
font-size: 18px;
line-height: 35px;
width: 70%;
margin: 20px auto;

}
.swiper-info-div button{
 margin-top: 30px;
background-color:transparent;
color: black;
padding:10px 40px;
border-radius: 8px;
border: 1px solid black;
font-weight: bold;
transition: 0.5s;
}
.swiper-info-div button:hover{
  cursor: pointer;
background-color: black;
color: white;
}
.swiper-slider-home{
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.swiper-slider-home img{
 display: block;
  width: 100%;
  }


  @media only screen and (min-width: 768px) and (max-width: 1248px) {
.mySwiper-2{
height: 400px ;
 margin-left: 50px;
}
.swiper-info-div h2{
font-size: 30px;
margin-bottom: 20px;
}
.swiper-info-div p{
font-size: 18px;
line-height: 30px;
}
.swiper-info-div button{
 margin-top: 20px;
}
}

@media only screen and (max-width: 767px) {
  
.swiper-div-home{
  height: 400px;
  margin-top: 50px;
  }
.mySwiper-2{
height: 200px;
 margin-left: 50px;
}
.swiper-info-div{
margin-right: 20px;
}
.swiper-info-div h2{
font-size: 25px;
letter-spacing: 3px;
margin-bottom: 20px;
}
.swiper-info-div p{
font-size: 15px;
line-height: 25px;
width: 100%;
margin: 0px auto;
}
.swiper-info-div button{
 margin-top: 20px;
 font-size: 12px;
}
.swiper-slider-home{
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.swiper-slider-home img{
 display: block;
  width: 100%;
  }

}