.fragrance-content {
  width: 80%;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fragrance-filter {
  width: 20%;
  margin: 1%;
}

.fragrance-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fragrance-h2-title {
  margin: 1%;
}
.fragrance-h2-title a {
  text-decoration: none;
  color: black;
}
.h2-filter-div {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  margin-bottom: 70px;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: black !important;
}

@media only screen and (max-width: 767px) {
  .fragrance-content {
    margin: 100px auto;
  }
  .fragrance-filter {
    width: 30%;
  }
  .fragrance-h2-title {
    font-size: 20px;
  }
}
