.fragrance-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 150px auto;
}
.fragrance-filter {
  width: 20%;
  background-color: aqua;
  margin: 1%;
}
.title-fragrance {
  width: 75%;
}
.fragrance-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fragrance-h2-title {
  margin: 1%;
}
.fragrance-h2-title a {
  text-decoration: none;
  color: black;
}
